
    <!-- Spinner Start -->
    <!-- <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
        </div>
    </div> -->
    <!-- Spinner End -->
    
    <section class="container-hero">
        <!-- Topbar Start -->
    <div class="container-fluid bg-light p-0" style="font-family: 'Poppins', sans-serif;">
        <div class="row gx-0 d-none d-lg-flex">
            <div class="col-lg-7 px-5 text-start">
                <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                    <small class="fa fa-map-marker-alt text-primary me-2"></small>
                    <!-- <small>info@mdvtiindia.org</small> -->
                </div>
                <div class="h-100 d-inline-flex align-items-center py-3">
                    <small class="fa fa-phone-alt text-primary me-2"></small>
                    <small>1800-891-9232</small>
                </div>
            </div>

            <div class="col-lg-5 d-inline-flex align-items-center justify-content-end">
                <div class="dropdown btn btn-primary shadow" style="margin-right: 10px;">
                    <a href="#" class="dropdown-toggle p-3 text-white" data-bs-toggle="dropdown">Login</a>
                    <div class="dropdown-menu fade-up m-0">
                        <a href="studentlogin.html" class="dropdown-item">Student Login</a>
                        <a href="franchise_login.html   " class="dropdown-item">Franchise Login</a>
                    </div>
                </div>
                <div class="dropdown btn btn-primary shadow" style="margin-right: 10px;">
                    <a href="#" class="dropdown-toggle p-3 text-white" data-bs-toggle="dropdown">Register</a>
                    <div class="dropdown-menu fade-up m-0">
                        <a href="student-reg.html" class="dropdown-item">Student Registration</a>
                        <a href="registerfranchise.html" class="dropdown-item">Franchise Registration</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Topbar End -->


        <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top p-0 blurry-nav"
        style="font-family: 'Poppins', sans-serif;">
        <a href="" class="navbar-brand d-flex align-items-center px-2 px-lg-4">
            <h2 class="m-0 text-primary "><img src="assets/img/logo1.png" width="128px"></h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="" class="nav-item nav-link active">Home</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">About</a>
                    <div class="dropdown-menu fade-up m-0">
                        <a href="about-mdvti" class="dropdown-item">MDVTI INDIA</a>
                        <a href="quote.html" class="dropdown-item">Management Message</a>
                        <a href="team.html" class="dropdown-item">Meet the team</a>
                        <a href="testimonial.html" class="dropdown-item">Gallery</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Yoga Teacher Training
                    </a>
                    <div class="dropdown-menu fade-up m-0">
                        <a href="course-desc.html" class="dropdown-item">Post Graduate Diploma in Yoga
                            Therapy</a>
                        <a href="#" class="dropdown-item">Diploma in Yoga Teacher Training</a>
                        <a href="#" class="dropdown-item">Certificate in Yoga Therapy</a>
                        <a href="#" class="dropdown-item">Certificate in Yogasana & Pranayam</a>
                        <a href="#" class="dropdown-item">Foundation Course in Yoga</a>
                    </div>
                </div>
                <a href="franchise.html" class="nav-item nav-link">Franchisee</a>
                <a href="blog.html" class="nav-item nav-link">Blog</a>
                <a href="contact.html" class="nav-item nav-link">Contact us </a>
            </div>
            <a href="" class="btn btn-primary py-2 px-lg-5 d-none d-lg-block mx-2 shadow rounded">Shop<i
                    class="fa fa-shopping-cart ms-3"></i></a>
        </div>
    </nav>
        <!-- Navbar End -->


        <!-- Banner Start -->
    <div class="container py-4 col-xl-12 banner-image" style="background-position: 54% 100%; background-size: contain; background-image: url('assets/img/DSC_0011.png');">
        <div class="">
            <div class="row g-lg-5 py-5">
                <div class="col-md-6 order-2 order-md-1 d-none d-md-block">
                    <h4 class="display-4 decorative-heading text-light" data-aos="fade-up" data-aos-duration="1000">
                        Transform your <br>Yoga Passion into Profession
                    </h4>
    
                    <div class="row">
                        <div class="col-9">
                            <p class="decorative-subheading text-light mt-1" data-aos="fade-up" data-aos-duration="1000"
                                data-aos-delay="100" data-aos-anchor-placement="top-bottom">
                                Embark on a transformative journey in Yoga Teacher Training with Yogkulam. Our programs are
                                designed to be affordable, time-efficient, and yield profitable results. Join us today and
                                unlock the potential of yoga for yourself and others.
                            </p>
                        </div>
                    </div>
                    <a href="" class="btn btn-primary mt-3 px-2 shadow rounded">Explore More<i
                            class="fa-solid fa-down"></i></a>
                </div>
                <div class="col-md-4 form-right align-self-center order-1 order-md-2" data-aos-delay="240"
                    style="margin-left: auto;">
                    <form data-aos="zoom-in" class="p-4 border rounded-3 blurry-nav right-form shadow ms-md-auto mt-md-0" [formGroup]="myForm" (ngSubmit)="onSubmit()">
                        <p class="mb-3 text-center"><b>Experience our demo classes for free! Register today and join us.</b>
                        </p>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" placeholder="Enter Your Name" formControlName="name">
                            <label for="floatingInput"> Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" placeholder="Enter Your Email" formControlName="email">
                            <label for="floatingPassword">Email </label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" placeholder="Enter Your Mobile" formControlName="mobile">
                            <label for="floatingPassword">Contact </label>
                        </div>
                       
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" placeholder="Enter Your Password" formControlName="password">
                            <label for="floatingPassword">Password </label>
                        </div>
                        <!-- <div class="form-floating mb-3">
                            <input type="password" class="form-control" placeholder="Enter Confirm Password" formControlName="cnf_password">
                            <label for="floatingPassword">Confirm Password </label>
                        </div> -->
                        <div *ngIf="myForm.invalid" class="alert alert-danger">
                            Please fill out the form correctly.
                          </div>
                        <button type="submit" [disabled]="myForm.invalid" class="w-100 btn btn-lg btn-primary" id="otp-btn">Register Now</button>
                     
                    </form>
                </div>
            </div>
        </div>
    </div>
        <!-- Banner End -->
    
</section>

    <!--Announcment Start-->
    <div class="container-fluid bg-white Announcement">
        <div class="row">
            <div class="col-lg-2 sm-2 text-center bg-primary align-items-center py-4"
                style="clip-path: polygon(0% 0%, 85% -1%, 100% 50%, 85% 101%, 0% 100%);">
                <h4 class="text-white">Announcement</h4>
            </div>
            <div class="col-lg-10 bg-white d-flex align-items-center py-4">
                <div class="container wow fadeInUp" data-wow-delay="0.1s">
                    <div class="owl-carousel ann-carousel">
                        <div class="testimonial-item">
                            <span>When potential customers are researching you online, they're getting to know you by
                                way of the</span>
                        </div>
                        <div class="testimonial-item">
                            <span>When potential customers are researching you online, they're getting to know you by
                                way of the</span>
                        </div>
                        <div class="testimonial-item">
                            <span>When potential customers are researching you online, they're getting to know you by
                                way of the</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Announcment END-->

    <!-- About Start -->
    <div class="container-fluid overflow-hidden p-0">
        <div class="px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 ps-lg-0" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src="assets/img/poster1.jpg"
                            style="object-fit: cover;" alt="">
                    </div>
                </div>
                <div class="col-lg-6 p-3 wow fadeIn" data-wow-delay="0.5s">
                    <div class="p-lg-5 pe-lg-0">
                        <div class="text-start">
                            <h1 class="display-5 mb-4">What is Yoga Teacher Training?
                            </h1>
                        </div>
                        <p class="mb-4 pb-2">MDVTI INDIA has been a No. 1 Yoga Teacher Training institute for more than
                            9 years, growing well rounded, competent, professional and highly skilled yoga teachers
                            through our well structured courses.<br>

                            Our Yoga Teacher Training (YTT) Course is focused on training budding teachers with detailed
                            practice of Yogic Kriyas, Asanas, Pranayama & teaching methodologies of Yoga. The course
                            integrates deeper concepts and techniques of Yoga like Anatomy, Physiology, Psychology,
                            Meditation Techniques, Naturotherapy and the very essence of Yogic Philosophy into a
                            holistic composite- thus enabling budding yoga teachers to impart knowledge of Yoga in its
                            entirety and begin their career in the World of Yoga. </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!--Courses Start-->
    <div class="container ">
        <div class="section-title text-center">
            <h1 class="display-5 mb-5 mt-5 text-dark">Our Courses</h1>
        </div>
        <div class="owl-carousel owl-theme py-5">
            <div class="item">
                <div class="service-item p-3 wow fadeInUp">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="assets/img/course1.svg" alt="">
                    </div>
                    <div class="edu_tabs_label">
                        <p></p>
                        <div class="edu_tabs_label_inner">
                            <p>MDVTI</p>
                        </div>
                    </div>
                    <div class="p-4 bg-white shadow">
                        <h5 class="mb-3">Post Graduation in Yoga Teacher</h5>
                        <div class="d-flex justify-content-start pt-3 text-dark"
                            style="font-family: 'Poppins', sans-serif;">
                            <span class="text-primary" style="margin-right: 10px;">Eligibility :</span>
                            <span>Graduation(Min 45% Marks)</span>
                        </div>
                        <div class="d-flex justify-content-start text-dark pb-4"
                            style="font-family: 'Poppins', sans-serif;">
                            <span class="text-primary" style="margin-right: 10px;">Duration :</span>
                            <span>1 Year</span>

                        </div>
                        <a class="fw-medium bg-primary px-3 py-2 text-white" href="">know More<i
                                class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="service-item p-3 wow fadeInUp">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="assets/img/course1.svg" alt="">
                    </div>
                    <div class="edu_tabs_label">
                        <p></p>
                        <div class="edu_tabs_label_inner">
                            <p>MDVTI</p>
                        </div>
                    </div>
                    <div class="p-4 bg-white shadow">
                        <h5 class="mb-3">Post Graduation in Yoga Teacher</h5>
                        <div class="d-flex justify-content-start pt-3 text-dark"
                            style="font-family: 'Poppins', sans-serif;">
                            <span class="text-primary" style="margin-right: 10px;">Eligibility :</span>
                            <span>Graduation(Min 45% Marks)</span>
                        </div>
                        <div class="d-flex justify-content-start text-dark pb-4"
                            style="font-family: 'Poppins', sans-serif;">
                            <span class="text-primary" style="margin-right: 10px;">Duration :</span>
                            <span>1 Year</span>

                        </div>
                        <a class="fw-medium bg-primary px-3 py-2 text-white" href="">know More<i
                                class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="service-item p-3 wow fadeInUp">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="assets/img/course1.svg" alt="">
                    </div>
                    <div class="edu_tabs_label">
                        <p></p>
                        <div class="edu_tabs_label_inner">
                            <p>MDVTI</p>
                        </div>
                    </div>
                    <div class="p-4 bg-white shadow">
                        <h5 class="mb-3">Post Graduation in Yoga Teacher</h5>
                        <div class="d-flex justify-content-start pt-3 text-dark"
                            style="font-family: 'Poppins', sans-serif;">
                            <span class="text-primary" style="margin-right: 10px;">Eligibility :</span>
                            <span>Graduation(Min 45% Marks)</span>
                        </div>
                        <div class="d-flex justify-content-start text-dark pb-4"
                            style="font-family: 'Poppins', sans-serif;">
                            <span class="text-primary" style="margin-right: 10px;">Duration :</span>
                            <span>1 Year</span>

                        </div>
                        <a class="fw-medium bg-primary px-3 py-2 text-white" href="">know More<i
                                class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="service-item p-3 wow fadeInUp">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="assets/img/course1.svg" alt="">
                    </div>
                    <div class="edu_tabs_label">
                        <p></p>
                        <div class="edu_tabs_label_inner">
                            <p>MDVTI</p>
                        </div>
                    </div>
                    <div class="p-4 bg-white shadow">
                        <h5 class="mb-3">Post Graduation in Yoga Teacher</h5>
                        <div class="d-flex justify-content-start pt-3 text-dark"
                            style="font-family: 'Poppins', sans-serif;">
                            <span class="text-primary" style="margin-right: 10px;">Eligibility :</span>
                            <span>Graduation(Min 45% Marks)</span>
                        </div>
                        <div class="d-flex justify-content-start text-dark pb-4"
                            style="font-family: 'Poppins', sans-serif;">
                            <span class="text-primary" style="margin-right: 10px;">Duration :</span>
                            <span>1 Year</span>

                        </div>
                        <a class="fw-medium bg-primary px-3 py-2 text-white" href="">know More<i
                                class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Courses End-->

    <!--Banner Enroll now-->
    <section class="aplit-gt-area py-5">
        <div class="container ">
            <div class="aplit-gt-wrapper shadow"
                style="background-image: url(assets/img/bg.png); background-size: contain; background-repeat: repeat;">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="aplit-gt-left">
                            <span class="subtitle">MDVTI INDIA</span>
                            <div class="aplit-headline">
                                <h3>Join Yoga Course and Become a Certified Yoga Teacher</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="aplit-gt-right ">
                            <a href="#" class="bg-white px-5 py-3 shadow">Enroll Now</a>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </section>
    <!--End Enroll now Banner-->

    <!-- Feature Start -->
    <div class="container-fluid  overflow-hidden my-5 px-lg-0">
        <div class="container feature px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-7 feature-text py-5 wow fadeIn" data-wow-delay="0.5s">
                    <div class="p-lg-5 ps-lg-0">
                        <div class="section-title text-start">
                            <h1 class="display-5 mb-4 text-dark">Why Choose Us</h1>
                        </div>

                        <div class="row g-4">
                            <div class="col-lg-4 sm-6 wow fadeInUp">
                                <div class="d-flex align-items-center bg-white py-2 px-2 py-2 px-2"
                                    style="border-radius: 6px ; box-shadow:0px 12px 24px -8px rgb(0 0 0 / 33%)">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center"
                                        style="width: 40px; height: 40px;">
                                        <i class="fa fa-video text-primary"></i>
                                    </div>
                                    <div class="ms-1">
                                        <h5 class="mb-0">Recorded Lectures </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 sm-6 wow fadeInUp">
                                <div class="d-flex align-items-center bg-white py-2 px-2"
                                    style="border-radius: 6px ; box-shadow:0px 12px 24px -8px rgb(0 0 0 / 33%)">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center"
                                        style="width: 40px; height: 40px;">
                                        <i class="fa fa-book text-primary"></i>
                                    </div>
                                    <div class="ms-2">
                                        <h5 class="mb-0">Detailed Study Material for Holistic Learning
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 sm-6 wow fadeInUp">
                                <div class="d-flex align-items-center bg-white py-2 px-2"
                                    style="border-radius: 6px ; box-shadow:0px 12px 24px -8px rgb(0 0 0 / 33%)">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center"
                                        style="width: 40px; height: 40px;">
                                        <i class="fa fa-id-badge text-primary"></i>
                                    </div>
                                    <div class="ms-2">
                                        <h5 class="mb-0">Free Student Kit (ID card, Books, Tshirt)</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 sm-6 wow fadeInUp">
                                <div class="d-flex align-items-center bg-white py-2 px-2"
                                    style="border-radius: 6px ; box-shadow:0px 12px 24px -8px rgb(0 0 0 / 33%)">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center"
                                        style="width: 40px; height: 40px;">
                                        <i class="fa fa-pen text-primary"></i>
                                    </div>
                                    <div class="ms-2">
                                        <h5 class="mb-0">Short notes & E-books</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 sm-6 wow fadeInUp">
                                <div class="d-flex align-items-center bg-white py-2 px-2"
                                    style="border-radius: 6px ; box-shadow:0px 12px 24px -8px rgb(0 0 0 / 33%)">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center"
                                        style="width: 40px; height: 40px;">
                                        <i class="fa fa-book-reader text-primary"></i>
                                    </div>
                                    <div class="ms-2">
                                        <h5 class="mb-0">Student Care Portal</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 sm-6 wow fadeInUp">
                                <div class="d-flex align-items-center bg-white py-2 px-2"
                                    style="border-radius: 6px ; box-shadow:0px 12px 24px -8px rgb(0 0 0 / 33%)">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center"
                                        style="width: 40px; height: 40px;">
                                        <i class="fa fa-user-check text-primary"></i>
                                    </div>
                                    <div class="ms-2">
                                        <h5 class="mb-0">Virtual Classroom</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 sm-6 wow fadeInUp">
                                <div class="d-flex align-items-center bg-white py-2 px-2"
                                    style="border-radius: 6px ; box-shadow:0px 12px 24px -8px rgb(0 0 0 / 33%)">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center"
                                        style="width: 40px; height: 40px;">
                                        <i class="fa fa-drafting-compass text-primary"></i>
                                    </div>
                                    <div class="ms-2">
                                        <h5 class="mb-0">Live Doubt sessions
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 sm-6 wow fadeInUp">
                                <div class="d-flex align-items-center bg-white py-2 px-2"
                                    style="border-radius: 6px ; box-shadow:0px 12px 24px -8px rgb(0 0 0 / 33%)">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center "
                                        style="width: 40px; height: 40px;">
                                        <i class="fa fa-brain text-primary"></i>
                                    </div>
                                    <div class="ms-2">
                                        <h5 class="mb-0">Affordable Fee</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 sm-6 wow fadeInUp">
                                <div class="d-flex align-items-center bg-white py-2 px-2"
                                    style="border-radius: 6px ; box-shadow:0px 12px 24px -8px rgb(0 0 0 / 33%)">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center"
                                        style="width: 40px; height: 40px;">
                                        <i class="fa fa-video text-primary"></i>
                                    </div>
                                    <div class="ms-2">
                                        <h5 class="mb-0">Short notes & E-books</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 sm-6 wow fadeInUp">
                                <div class="d-flex align-items-center bg-white py-2 px-2"
                                    style="border-radius: 6px ; box-shadow:0px 12px 24px -8px rgb(0 0 0 / 33%)">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center"
                                        style="width: 40px; height: 40px;">
                                        <i class="fa fa-map-signs text-primary"></i>
                                    </div>
                                    <div class="ms-2">
                                        <h5 class="mb-0">Lifetime Guidance from our Yoga Coach</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 wow fadeInUp">
                                <div class="d-flex align-items-center bg-white py-2 px-2"
                                    style="border-radius: 6px ; box-shadow:0px 12px 24px -8px rgb(0 0 0 / 33%)">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center"
                                        style="width: 40px; height: 40px;">
                                        <i class="fa fa-chalkboard-teacher text-primary"></i>
                                    </div>
                                    <div class="ms-2">
                                        <h5 class="mb-0">Highly Trained & Certified Yoga Teachers</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 wow fadeInUp">
                                <div class="d-flex align-items-center bg-white py-2 px-2"
                                    style="border-radius: 6px ; box-shadow:0px 12px 24px -8px rgb(0 0 0 / 33%)">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center"
                                        style="width: 40px; height: 40px;">
                                        <i class="fa fa-clipboard-check text-primary"></i>
                                    </div>
                                    <div class="ms-2">
                                        <h5 class="mb-0">Training for establishing your own Yoga Studio</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 pe-lg-0 wow fadeInRight" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <!-- <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_kvwtrk4n.json"
                            background="transparent" class="mt-5" speed="1" f ppp loop autoplay></lottie-player> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->
    <!-- Testimonial Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="section-title text-center  mb-5">
                <h1 class="display-5 text-dark">Student Testimonial</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light p-2 mx-auto mb-3" src="assets/img/testimonial-1.jpg"
                        style="width: 90px; height: 90px;">
                    <div class="testimonial-text text-center p-4">
                        <p>Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed.
                            Magna
                            ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo
                            sea
                            clita.</p>
                        <h5 class="mb-1">Client Name</h5>
                        <span class="fst-italic">Profession</span>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light p-2 mx-auto mb-3" src="assets/img/testimonial-2.jpg"
                        style="width: 90px; height: 90px;">
                    <div class="testimonial-text text-center p-4">
                        <p>Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed.
                            Magna
                            ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo
                            sea
                            clita.</p>
                        <h5 class="mb-1">Client Name</h5>
                        <span class="fst-italic">Profession</span>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light p-2 mx-auto mb-3" src="assets/img/testimonial-3.jpg"
                        style="width: 90px; height: 90px;">
                    <div class="testimonial-text text-center p-4">
                        <p>Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed.
                            Magna
                            ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo
                            sea
                            clita.</p>
                        <h5 class="mb-1">Client Name</h5>
                        <span class="fst-italic">Profession</span>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <!-- Video Gallery -->
        <div class="container py-5">
            <div class="aplit-gt-wrapper">
                <div class="row align-items-center">
                    <div class="col-md-7">
                        <div class="aplit-gt-left">
                            <div class="container p-5 d-flex justify-content-center wow fadeInUp">
                                <iframe width="760" height="345" class="shadow rounded" style="overflow: hidden;"
                                    src="https://www.youtube.com/embed/kwNKjgDrW8M?" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-md-4">
                        <div class="aplit-gt-right m-2">
                            <a href="https://www.facebook.com/mdvtiindia/reviews/"
                                class="btn btn-primary py-3 d-lg-block"><img
                                    src="https://img.icons8.com/fluency/48/000000/facebook-circled.png" /> <span
                                    class="m-3"> Facebook
                                    Reviews left by our students</span></a>
                        </div>
                        <div class="aplit-gt-right m-2">
                            <a href="https://g.page/r/CZ7oR0BAPqQeEA0/review"
                                class="btn btn-primary py-3 d-lg-block"><img
                                    src="https://img.icons8.com/stickers/48/000000/google-logo.png" /><span class="m-3">
                                    Google
                                    Reviews left by our students</span></a>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
        <!-- video Gallery End -->
    </div>
    <!-- Testimonial End -->

    <div class="container py-4">
        <div class="section-title text-center">
            <h1 class="display-5 mb-5 text-dark">Our Toppers</h1>
        </div>
        <div class="row">
            <div class="owl-carousel toppers">
                <div class="item">
                    <div class="card shadow">
                        <div class="card-body text-center">
                            <p><img class=" img-fluid"
                                    src="https://image.shutterstock.com/image-photo/close-portrait-smiling-handsome-man-260nw-1011569245.jpg"
                                    alt="card image"></p>
                            <h4 class="card-title">Vikas Kumar</h4>
                            <div class="text-primary">
                                <p class="card-text"><i class="fas fa-map-marker-alt text-primary px-2"></i>Maharstra
                                </p>
                                <hr>
                                <p class="bg-primary text-white py-1" style="font-size: 15px;">Marks Obtained : 98%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Gallery Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="section-title text-center">
                <h1 class="display-5 mb-5 text-dark">Glimpses</h1>
            </div>
            <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-12 text-center">
                </div>
            </div>
            <div class="row g-4 portfolio-container">
                <div class="col-lg-3 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                    <div class="rounded overflow-hidden">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="assets/img/g1.jpeg" alt="">
                            <div class="portfolio-overlay">
                                <a class="btn btn-square btn-outline-light mx-1" href="assets/img/g1.jpeg"
                                    data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.3s">
                    <div class="rounded overflow-hidden">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="assets/img/g2.jpeg" alt="">
                            <div class="portfolio-overlay">
                                <a class="btn btn-square btn-outline-light mx-1" href="assets/img/g1.jpeg"
                                    data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.5s">
                    <div class="rounded overflow-hidden">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="assets/img/g1.jpeg" alt="">
                            <div class="portfolio-overlay">
                                <a class="btn btn-square btn-outline-light mx-1" href="assets/img/g1.jp2g"
                                    data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.7s">
                    <div class="rounded overflow-hidden">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="assets/img/g4.jpeg" alt="">
                            <div class="portfolio-overlay">
                                <a class="btn btn-square btn-outline-light mx-1" href="assets/img/g4.jpeg"
                                    data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-5">
            <button class="btn btn-primary">View More</button>
        </div>
    </div>
    <!-- Gallery End -->


    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="owl-carousel govlogo-carousel">
                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light p-2 mx-auto mb-3 shadow" src="assets/img/gov_logo/1.jpg"
                        style="width:250px; height: auto;">
                </div>
                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light p-2 mx-auto mb-3 shadow" src="assets/img/gov_logo/2.jpg"
                        style="width:250px; height: auto;">
                </div>
                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light p-2 mx-auto mb-3 shadow" src="assets/img/gov_logo/3.jpg"
                        style="width:250px; height: auto;">
                </div>
                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light p-2 mx-auto mb-3 shadow" src="assets/img/gov_logo/4.jpg"
                        style="width:250px; height: auto;">
                </div>
                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light p-2 mx-auto mb-3 shadow" src="assets/img/gov_logo/5.jpg"
                        style="width:250px; height: auto;">
                </div>
                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light p-2 mx-auto mb-3 shadow" src="assets/img/gov_logo/6.jpg"
                        style="width:250px; height: auto;">
                </div>
                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light p-2 mx-auto mb-3 shadow" src="assets/img/gov_logo/7.jpg"
                        style="width:250px; height: auto;">
                </div>
                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light p-2 mx-auto mb-3 shadow" src="assets/img/gov_logo/8.jpg"
                        style="width:250px; height: auto;">
                </div>
            </div>
        </div>
    </div>

        <!-- Footer Start -->
        <app-footer></app-footer>
        <!-- Footer End -->

   

    