<div class="container-fluid text-light footer mt-5 pt-5 wow fadeIn footer" data-wow-delay="0.1s"
        style="background-image: url(assets/img/bg.png); background-size:auto">


        <div class="container py-3">
            <div class="row g-1">
                <div class="col-lg-4 col-md-6 ">
                    <h4 class="text-light mb-4">Address</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>4/769 Vikas Nagar, Lucknow
                        (U.P.)-226022
                    </p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>For Admission Enquiry : 1800-891-9232</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>For Franchise Enquiry : 1800-891-9232</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>For Any Other Enquiry : +91-9628865047</p>
                    <!-- <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@mdvtiindia.org</p> -->
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href="https://twitter.com/mdvtiindia"><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href="https://www.facebook.com/mdvtiindia"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/mdvtiindia/"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h4 class="text-light mb-4">Important Links</h4>
                    <a class="btn btn-link" href="">Latest Events </a>
                    <a class="btn btn-link" href="">Current Vacancies </a>
                    <a class="btn btn-link" href="">Authorized Study Center</a>
                    <a class="btn btn-link" href="">Blacklisted Centers</a>
                    <a class="btn btn-link" href="">Selected students in Government and Private Jobs</a>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h4 class="text-light mb-4">Quick Links</h4>
                    <a class="btn btn-link" href="">Refund Policy</a>
                    <a class="btn btn-link" href="">Privacy Policy</a>
                    <a class="btn btn-link" href="">Terms & Condition</a>
                    <a class="btn btn-link" href="">Support</a>

                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="mx-auto text-center">
                        <img src="assets/img/footer-logo.png" width="100px">
                        <div class="mt-4 visitor">
                            <h3 class="mt-2 text-white">Total visitors</h3>
                            <h4 class="mt-2 text-white">987678</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <a href="#" class="text-white bg-primary px-5 py-3">Pay now</a>
            </div>
        </div>
        <div class="container">
            <div class="copyright mt-1">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">MDVTI India</a>, All Right Reserved.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- Back to Top -->
     <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-0 back-to-top"><i class="bi bi-arrow-up"></i></a>
